apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: nginx-app
  labels:
    app: nginx
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: nginx
