apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-web
  namespace: {{ .Values.namespace | default "nginx-web" }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nginx-web
  template:
    metadata:
      labels:
        app: nginx-web
    spec:
      containers:
      - name: nginx
        image: nginx:{{ .Values.image.tag }}
        ports:
        - containerPort: 80
          name: http
        resources:
{{ toYaml .Values.resources | indent 10 }}
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config