apiVersion: v1
kind: Service
metadata:
  name: nginx-web
  namespace: {{ .Values.namespace | default "nginx-web" }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: nginx-web